* {
    box-sizing: border-box;
}

body {
    background: #333;
    margin: 0;
    padding: 0;
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    outline: 1px solid #fff;  
    margin: 0 auto;
    /* margin-top: 20px; */

    transform: scale(2) translateY(50%);


}

.game-container canvas {
    image-rendering: pixelated;
}